#heading{
    width: 500px;
    position: absolute;
    top: 0px;
    left : 50%;
    margin-left: -250px;
}
#svg{
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -450px;
}
#button1 {
    width: 100px;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -600px;
    cursor: pointer;
}
#button2 {
    width: 150px;
    position: absolute;
    top: 330px;
    left: 50%;
    margin-left: -625px;
    cursor: pointer;
}
#div1 {
    width: 220px;
    position: absolute;
    top: 170px;
    left: 50%;
    margin-left: -630px;
}
#number {
    width: 40px;
    position: absolute;
}
#div2 {
    width: 220px;
    position: absolute;
    top: 220px;
    left: 50%;
    margin-left: -625px;
}
#prob {
    width: 40px;
    position: absolute;
}
#div3 {
    width: 220px;
    position: absolute;
    top: 270px;
    left: 50%;
    margin-left: -590px;
}
#autor{
    width: 220px;
    position: absolute;
    top: 585px;
    left: 50%;
    margin-left: 265px;
}
